<nav class="navbar bg-dark  navbar-expand-sm" data-bs-theme="dark">
  <ul class="navbar navbar-nav ">
    <li>
        <button type="button" class="btn btn-outline-info ml-2" (click)="onGetAllProductsWithErrorManagement()">All</button>
        
    </li>
    <li>
        <button type="button" class="btn btn-outline-info ml-2" (click)="onGetSelectedProduct()">Selected</button>
        
    </li>
    <li>
        <button type="button" class="btn btn-outline-info" (click)="onGetAvailableProduct()">Available</button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-info" (click)="onNewProduct()">New Product</button>
    </li>
  </ul>
  <!-- Search bar have to be inside an item ul -->
  <ul class="navbar navbar-nav ms-auto">
       <li>
            <form  #f ="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
                <div class="form-group">
                <input ngModel name="keyword" type="text"  id="" placeholder="type Keyword">
                <button class="btn btn-sm btn-outline-info">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                </div>
            </form>
       </li>
  </ul>
</nav>
<!-- //if products variable change to become a Observable Variable, then its vew side representation also change// -->
<ng-container *ngIf="(_products$ |async)  as _prods" [ngSwitch]="_prods.dataState">


        <ng-container *ngSwitchCase="DataStateEnum.LOADING">         
            LOADING ....
        </ng-container>

        <ng-container *ngSwitchCase="DataStateEnum.LOADING">         
            <div class="text-danger">
             {{_prods.ErrorMessage}}
            </div>      
       </ng-container>

       <ng-container *ngSwitchCase="DataStateEnum.LOADED"> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Selected</th>
                        <th scope="col">Available</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of _prods.data ">
                        <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.selected}}</td>
                            <td>{{item.available}}</td>
                            <td>
                                <button (click)="onSelect(item)"  [ngClass]="item.selected?'btn-success':'btn-danger'" class="btn btn-sm">
                                    <span *ngIf="item.selected">unselected</span>
                                    <span *ngIf="!item.selected">Select</span>
                                </button>               
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" (click)="onDelete(item)">
                                    <span class="fa fa-trash-o">Delete</span>
                                </button>
                          
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>

</ng-container> 

