<nav class="navbar bg-dark  navbar-expand-sm" data-bs-theme="dark">
    <ul class="navbar navbar-nav">
      <li>
          <button type="button" class="btn btn-outline-info ml-2" (click)="onGetAllProductsWithErrorManagement()">All</button>
      </li>
      <li>
          <button type="button" class="btn btn-outline-info ml-2" (click)="onGetSelectedProduct()">Selected</button>     
      </li>
      <li>
          <button type="button" class="btn btn-outline-info" (click)="onGetAvailableProduct()">Available</button>
      </li>
  
      <!-- [Notice] : after months developments a constats that => if you know that when you called this action you need to show a formular to add a object(product) to the list
                then you shoud have a component "products-add" that represent a formular -->
      <li>
          <button type="button" class="btn btn-outline-info" (click)="onNewProduct()">New Product</button>
      </li>
  
    </ul>
    <!-- Search bar have to be inside an item ul -->
    <ul class="navbar navbar-nav ms-auto">
         <li>
              <form  #f ="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
                  <div class="form-group">
                  <input ngModel name="keyword" type="text"  id="" placeholder="type Keyword">
                  <button class="btn btn-sm btn-outline-info">
                      <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                  </div>
              </form>
         </li>
    </ul>
</nav>